<div class="row">
    <div class="col-md-9">
        <div ng-class="{aceeditormax: isFullScreen}" ui-ace="aceOption" ng-model="aceModel"></div>
        <i ng-show="loading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        <i ng-show="!loading" class="fa fa-television" style="font-size:24px"></i>
    </div>
    <div class="col-md-3 warning">
        <div style="border:0ch;" class="panel panel-primary">
            <div style="background-color:cadetblue;" class="panel-heading clearfix">
                <h5 style="font-size:small" class="panel-title">Notifications</h5>
            </div>
            <div style="font-size:small; font-family:monospace" class="panel-body">
                <p ng-repeat="x in urimessages"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;{{x}}</p>
                <p ng-repeat="x in statementmessages track by $index"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;{{x}}</p>
            </div>
        </div>
    </div>

    <nav mfb-menu position="br" effect="slidein-spring" label="Options" active-icon="glyphicon glyphicon-chevron-down" style="font-size:40px" resting-icon="glyphicon glyphicon-chevron-up" toggling-method="click">
        <button mfb-button label="Maximize" ngsf-toggle-fullscreen ng-click="fullScreen()"></button>
    </nav>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            RDF Turtle Editor checks conformance of RDF document with referenced ontologies together with RDF syntax validation using <a href=#>rdflib.js</a>.
        </p>
    </div>
    <div class="col-md-6">
        <h1>Features</h1>
        <ul>
            <li>RDF turtle syntax highlighting </li>
            <li>Live RDF turtle syntax validation</li>
            <li>Checks conformance of RDF document with Web of Data</li>
            <li>Parses prefixed ontologies and adds as part of auto-completion</li>
            <li>Makes newly defined terms in current document part of auto-completion</li>
            <li>Parses prefixed ontologies in both rdf+xml and turtle format</li>
            <li>...and many more</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Acknowledgements</h1>
        <ul>
            <li>Linkeddata team for <a href="https://github.com/linkeddata/rdflib.js">[rdflib.js]</a></li>
            <li>Contributors behind <a href="https://github.com/ajaxorg/ace">[ace editor]</a> that rdfturtleditor uses to incorporate turtle format specifications</li>
            <li><a href="http://prefix.cc/">[Prefix.cc]</a> that is used to fetch popular prefixes for prefix auto-completion</li>
        </ul>
    </div>
</div>